@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url(../fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url(../fonts/Poppins-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url(../fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
}

:root {
    /*Primary*/
    --Purple: hsl(259, 100%, 65%); 
    --Light-red: hsl(0, 100%, 67%);
    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Regular', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Off-white);
    font-size: 1em;
}

main {
    width: 600px;
    background-color: var(--White);
    border-radius: 20px 20px 100px;
    transition: 0.1s;
}

.conteiner {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.conteiner-input {
    width: 80%;
    display: flex;
    gap: 20px;
}

label.label-invalido {
    color: var(--Light-red);
}

label {
    font-family: 'Poppins-Bold', sans-serif;
    color: var(--Smokey-grey);
}

input.input-invalido {
    outline: 1px solid var(--Light-red);
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: 1px solid var(--Light-grey);
    font-size: 1.5em;
    font-family: 'Poppins-Bold', sans-serif;
}

input:focus {
    outline: 2px solid var(--Light-grey);
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

small {
    font-size: 0.6rem;
    color: var(--Light-red);
    font-family: Poppins-Italic, sans-serif;
}

.box-btn {
    display: flex;
    align-items: center;
    margin-top: 1em;
    
}

.box-btn hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: var(--Light-grey);
}

.box-btn button {
    padding: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--Purple);
}

.box-btn button:hover {
    background-color: var(--Off-black);
    cursor: pointer;
}

.conteiner-h1 {
    font-size: 2rem;
}

.conteiner-h1 h1, span {
    font-family: 'Poppins-ExtraBoldItalic';
}

.conteiner-h1 h1 span {
    color: var(--Purple);
}

@media screen and (max-width: 600px) {
    main {
        width: 90vw;
    }

    .conteiner {
        padding: 1rem;
    }

    .conteiner-input {
        width: 100%;
        justify-content: space-between;
    }

    .box-input {
        width: 100%;
    }

    .box-btn {
        position: relative;
        height: 100px;
    }

    .box-btn button {
        position: absolute;
        right: 50%;
        transform: translate(50%);
    }

    input {
        padding: .5rem;
    }
}